<!-- Using mat toolbar -->
<mat-toolbar class="toolbar">  
  <!-- To hold the element related to reference -->
  <div class="reference">
    <!-- Para to display "references" -->
    <p class="reference-para" title="Refer to the documents and video on Docker">References</p>
    <!-- To hold the link for references -->
    <div class="reference-nav">
   <a href="https://docs.docker.com/engine/reference/commandline/docker/" target="_blank" title="Click to see sample Docker commands"><img class="reference-images" src="assets/images/docker-icon.png"/></a>
   <a href="https://www.youtube.com/channel/UCtkE2OJMLcX7UNf1G-RbQfA/videos" target="_blank" title="Click here to watch our youtube video on Docker"><img class="social" src="assets/images/social-media/youtube.png"/></a>
  </div>
  <div>
  <a href="https://thinknyx.com/learning-library/" target="_blank" title="Click here for our cheatsheet on Docker"><img class="social" src="assets/images/CheatSheet.png"/></a>
  </div>
  </div>
  <!-- For dockerlint logo -->
  <div  class="dockerlint-logo">
    <img src="assets/images/Dcl_logo.png" alt="DockerLint" width="230" />
  </div>
  <!-- For thinknyx logo -->
  <div>
  <a
  href="https://thinknyx.com/"
  target="_blank"
  class="thinknyx-logo"
  width="200"
><img src="assets/images/logo_thinknyx.png" alt="Thinknyx" title="Click to know more about"
  /></a></div>
  <!-- For social media links -->
  <div class="social-media">
  <a href="https://www.facebook.com/thinknyx" target="_blank" title="Click to follow us on Facebook"><img class="social" src="assets/images/social-media/fb.png"/></a>
  <a href="https://twitter.com/thinknyx" target="_blank" title="Click to follow us on Twitter"><img class="social" src="assets/images/social-media/twitter.png"/></a>
  <a href="https://www.instagram.com/thinknyx/" target="_blank" title="Click to follow us on Instagram"><img class="social" src="assets/images/social-media/ig.png"/></a>
  <a href="https://www.linkedin.com/company/thinknyx-technologies/mycompany/" target="_blank" title="Click to follow us on LinkedIn"><img class="social" src="assets/images/social-media/linkedin.png"/></a>
</div>  
</mat-toolbar>
