<!-- Main container -->
<main>
  <!-- Mat card for left panel -->
  <mat-card>
    <!-- For welcome display -->
    <mat-card-header>
      <mat-card-title>
        <h2 class="welcome-heading">WELCOME</h2>
        </mat-card-title>
    </mat-card-header>

    <!--
    Form which contains input, textarea and button.
    The function of the form is to submit the contents of the input and textarea on click of submit button.
    Submit button- Submits for the first time.
    Update button- Updates and submits the existing request.
    Reset button- Resets the entire page. 
    -->
    <form #postForm="ngForm" (submit)="onSubmitDockerFile(postForm)" (ngSubmit)="onSubmit($event)" (reset)="resetPage()">
      <!-- For label and input to collect Email ID -->
      <mat-form-field>
        <!-- Label for Email -->
        <label for="email" class="form-label">Enter your Email ID: </label>   
        <!-- Input for Email. It verifies the pattern and also make sure the field is entered before submission -->
        <input type="email" class="form-control" id="email" required #email="ngModel"
        ngModel pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" name="email" matInput>
        <!-- Icon for Email -->
        <mat-icon matSuffix>mail</mat-icon>
        <!-- Error message to be displayed in case of invalid format/not entered the field -->
        <mat-error class="error" *ngIf="email.invalid">Please enter a valid Email Id [ you@example.com ]</mat-error>
      </mat-form-field>
      <!-- For label and textarea to collect the script content -->
      <mat-form-field>
        <label for="content" class="form-label">Add your Dockerfile content: </label>
        <textarea
          #content="ngModel"
          matInput
          rows="15"
          ngModel
          name="content"
          required
          class="form-control"
        ></textarea>
        <mat-icon matSuffix>edit</mat-icon>
        <mat-error class="error" *ngIf="content.invalid">Please enter the content before submitting.</mat-error>
      </mat-form-field>
    <!-- Button for submission. This will be displayed only when the request is not being processed. -->
      <button type="submit" name="submit" *ngIf="!result_json && !processingScriptMessage">
       SUBMIT
      </button>
      <!-- Button to update. This will be displayed only when the request is under process. -->
      <button type="submit" name="update" *ngIf="processingScriptMessage && errorStatus!=500">UPDATE</button>
      <!-- Button to reset. This will be displayed only when response is generated. -->
      <button type="reset" *ngIf="result_json">
        RESET
       </button>
    </form>
  </mat-card>

<!-- Mat card for right panel -->
  <mat-card >
    <!-- Issue found heading -->
    <div class="issues-heading"><img src="assets/images/Issues-found.gif" width="200"/></div>
    <hr/>
    <!-- If the request is in progress, process animation will be displayed -->
    <h4 class="processing-header" *ngIf="
    !processingScriptMessage && !result_json && Misconfigurations.length <= 0 
  ">Please click on Submit button.</h4>
    <div class="processing" *ngIf="
    (processingScriptMessage || updateButtonEnabled) && !result_json && configInfos.length <= 0 && errorStatus!=500
  ">
  <div class="dot dot1"></div>
      <div class="dot dot2"></div>
      <div class="dot dot3"></div>
      <h4 class="processing-header">Please wait while we are processing..</h4>
    </div>
  
    <!-- Table display for issues. This will be displayed only if the response contains the issues. -->
    <div class="issue-found" *ngIf="configInfos.length>0">
      <p class="processing-header">No syntax errors found</p>
      <table mat-table>
        <thead>
          <tr>
            <th>Type</th>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let config of configInfos">
            <td>{{ config.Type }}</td>
            <td>{{ config.ID }}</td>
            <td>{{ config.Title }}</td>
            <td>{{ config.Description }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Display when there is no issue found -->
    <div *ngIf="result_json && Misconfigurations.length <= 0  && requestIssue==false" class="no-issues">
      <div><img src="assets/images/no-issues-found.png" width="150"/></div>
    </div>
    
    <!-- Display when there is 500 server error -->
    <div *ngIf="errorStatus==500 && !(processingScriptMessage && updateButtonEnabled)">
      <img src="assets/images/error_500.jpg" width="325"/>
      <p class="processing-header">Sorry!!Please try again later.</p>
    </div>


    <div class="issue-found" *ngIf="errorResponse.length>0 && requestIssue==true  &&  !(processingScriptMessage && updateButtonEnabled)">
      
      <table mat-table>
        <thead>
          <tr>
            <th>Line Number</th>
            <th>Instruction</th>
            <th>Description</th>
            <th>Suggestion</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let error of errorResponse">
            <td>{{ error.lineNumber }}</td>
            <td>{{ error.command }}</td>
            <td>{{ error.desc }}</td>
            <td>{{ error.suggestion }}</td>
          </tr>
        </tbody>
      </table>
    </div>

   

  </mat-card>
</main>
