/* Mat elements */

/* Puts each component(input and textarea) in new line */
mat-form-field {
  width: 100%;
}
mat-card {
  background-color: #349cfb;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 47%;
  color: #fff;
}

mat-card-header {
  align-items: center;
  justify-content: center;  
}


/* Table */

table {
  background-color: #349cfb;
  color: #0a1f32;
  text-align: center;
}
th,
td {
  padding: 0.4rem;
  font-size: 1rem;
}

td{
  color:#fff;
}

/* For the line after Issue heading */

hr{
  background-color: #073b4c;
}

/* Main */

main {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  gap: 2.4rem;
  background-color: #85c4fd;
  padding:1rem; 
  width:80%;
  margin-left:10%;
}

/* Heading */

.welcome-heading{
  font-size: 1.8rem;
}

/* Input */

input{
  height:2.5rem;
}

.form-label{
  font-size:1.1rem;
  color:#0a1f32; 
}

.form-control{
  font-size: 1.05rem;
  font-family:Arial, Helvetica, sans-serif
}


/* Button */

button {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  color:#349cfb;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding:0.8rem 1.6rem;
  margin:1.2rem;   
  letter-spacing: 2px;
  word-spacing: normal;
  font-size:1rem;
}
button:hover{
  background-color: #1a4e7e;
  color:white;
}

/* For the output */

.issue-heading {
  font-size: 1.2rem;
  background-color: #349cfb;
  color: #ffeeaf;
  text-align: center;
}

.error{
  font-size: 0.9rem;
  color:#fff;
}

.processing-header {
  color: #0a1f32;
  padding: 1.5rem;
  font-size:1.2rem;
}
.no-issues{
  width: 35%;
  height:100%;
  background-color: #349cfb;
  padding-left:35%;
}

/* Display for the processing animation */
.dot {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
}
.dot1 {
  background-color: #ffd166;
  animation: jump-up 0.6s 0.1s linear infinite;
}
.dot2 {
  background-color: #073b4c;
  animation: jump-up 0.6s 0.2s linear infinite;
}
.dot3 {
  background-color: #ef476f;
  animation: jump-up 0.6s 0.3s linear infinite;
}
@keyframes jump-up {
  50% {
    transform: translate(0, 15px);
  }
}
